<div class="post_index_container">
<h1 id="title">The Blog Of Champions</h1>
<h2 id="subtitle">Dexter S. Blair</h2>

<div class="post_list">
	<% @posts.each do |post| %>
  		<h2><%= link_to post.title, post %></h2>
      <p><%= truncate post.body %></p>
  		<p id="p_timestamp"><%= time_ago_in_words post.created_at %> ago</p>
	<% end %>

		<p>
  			<%= link_to "New Post", new_post_path %>
		</p>
</div>
</div>