body {
  background-image:url('images/retina_wood.png');
  color: #333;
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
  text-align: center;
}

p, ol, ul, td {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
}

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

a {
  color: #168594;
  &:visited {
    color: #168594;
  }
  &:hover {
    color: #24CAE0;
  }
}

div {
  &.field, &.actions {
    margin-bottom: 10px;
  }
}

#notice {
  color: green;
}

.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table;
}

#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;
  h2 {
    text-align: left;
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    font-size: 12px;
    margin: -7px;
    margin-bottom: 0px;
    background-color: #c00;
    color: #fff;
  }
  ul li {
    font-size: 12px;
    list-style: square;
  }
}
.post_list{
  //float: right;
  border-left: 1px solid;
  border-right: 1px solid;
  border-radius: 5px;
  text-align: center;
  width: 50%;
  margin: auto;
}
h1{
  font-family: times, Times New Roman, times-roman, georgia, serif;
  font-size: 51px;
  color: #6B0EA1;
  margin: 0;
  padding: 0px 0px 6px 0px;
  line-height: 44px;
  letter-spacing: -2px;
  font-weight: bold;
}
h2{
  color: #6B0EA1;
}
#subtitle{
  color: #6B0EA1;
  font-family: Gill Sans, verdana;
  font-size: 11px;
  line-height: 14px;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: bold;
}
//.post_index_container{
//  background: #eee;
//  text-align: center;
//}
textarea{
  background: 0;
}
#titlefield{
  background: 0;
  border: 1px solid;
}
#post_display{
  width: 75%;
  margin: auto;
}
#c_timestamp{
  font-size: 90%;
  font-variant: small-caps;
}
#p_timestamp{
  font-size: 90%;
  font-variant: small-caps;
}
#controls{
  position: absolute;
  left: 80%;
  top: 20px;
  width: 140px;
  padding-left: 10px;
  z-index: 3;
  padding: 3px;
  border-left: 1px solid;
  border-right: 1px solid;
  border-radius: 5px;
}